<div class="backgroundGradient">
    <div class="OnCanvas">
        <app-navigation-menu></app-navigation-menu>
        <div class="textHover row">
            <div class="firstLine"><b>hello this is text one</b></div>
            <!--<div class=""><img src="assets/social-icons/facebook.svg"><img src="assets/social-icons/github.svg"><img src="assets/social-icons/twitter.svg"><img src="assets/social-icons/youtube.svg"></div>
            <div class=" downArrow"><img style="height:40%;" src="assets/social-icons/down.svg">Learn more</div>-->
        </div>

        <div style="zindex:-1">
            <particles [style]="myStyle" [width]="500" [height]="100" [params]="myParams"></particles>
        </div>
    </div>
</div>