<div class="row">
    <app-top-navigation style="width:100%"></app-top-navigation>

    <div class="data">
        <h1>HOME</h1>
        Search engine optimization (SEO) is the process of affecting the online visibility of a website or a web page in a web search engine's unpaid results—often referred to as "natural", "organic", or "earned" results. In general, the earlier (or higher ranked
        on the search results page), and more frequently a website appears in the search results list, the more visitors it will receive from the search engine's users; these visitors can then be converted into customers.[1] SEO may target different kinds
        of search, including image search, video search, academic search,[2] news search, and industry-specific vertical search engines. SEO differs from local search engine optimization in that the latter is focused on optimizing a business' online presence
        so that its web pages will be displayed by search engines when a user enters a local search for its products or services. The former instead is more focused on national or international searches.

        <p>

            Part of a series on Internet marketing Search engine optimization Local search engine optimisation Social media marketing Email marketing Referral marketing Content marketing Native advertising Search engine marketing Pay-per-click Cost per impression
            Search analytics Web analytics Display advertising Ad blocking Contextual advertising Behavioral targeting Affiliate marketing Cost per action Revenue sharing Mobile advertising v t e Search engine optimization (SEO) is the process of affecting
            the online visibility of a website or a web page in a web search engine's unpaid results—often referred to as "natural", "organic", or "earned" results. In general, the earlier (or higher ranked on the search results page), and more frequently
            a website appears in the search results list, the more visitors it will receive from the search engine's users; these visitors can then be converted into customers.[1] SEO may target different kinds of search, including image search, video
            search, academic search,[2] news search, and industry-specific vertical search engines. SEO differs from local search engine optimization in that the latter is focused on optimizing a business' online presence so that its web pages will be
            displayed by search engines when a user enters a local search for its products or services. The former instead is more focused on national or international searches.
        </p>
    </div>
</div>